{% if you %}
<div class="cols">
  <h2>Add Stuff</h2>
  <div class="half">
    <div class="section center file">
      <h3>Post a File</h3>
      <form method='POST' enctype='multipart/form-data' action='{{thing.url}}'>
        <input type="file" name="file" id="BrowseButton" />
        <input type="submit" value="Sabine">
      </form>
    </div>
  </div>

  <div class="half">
    <div class="section center write">
      <h3>Write Something</h3>
      <form method='POST' action='.'>
        <textarea name="text" rows="15"></textarea>
        <input type="submit" value="Sabine">
      </form>
    </div>
  </div>
</div>
{% endif %}