{% extends 'base.html' %}
{%block content%}
<h1>Welcome To Tha Site!</h1>

<ul class="features section">
  <li>Post stuff on any page, just like on a BBS</li>
  <li>Rate things so the best stuff floats up to the top</li>
  <li>Memes and random chatter are totally welcome</li>
</ul>

<h2>Everyone's Things</h2>
{{gallery}}

{% include 'addstuff.html'%}

<div class="section users">
<h3>People</h3>
<ul class="users gallery">
{% for profile in profiles %}
  <li class="user">
    <a href="{{profile.url}}" style="background:url('{{profile.thumb_url}}') no-repeat center #ddd">
      <span>{{profile}}</span>
    </a>
  </li>
{% endfor %}
</ul><div class="clear"> </div>
</div>

{%endblock%}