{% extends 'base.html' %}
{%block content%}

{% if thing.file %} <div class="thing"><img src="{{thing.file_url}}"></div> {% endif %}
{% if thing.text %} <div class="text">{{thing.text}}</div>                      {% endif %}

<div class="section poster"><h3>Posted</h3>
<div class="user">
  {#%thumbnail thing.poster.safe_thumb 150x150 crop as thumb%#}
  <a href="{{thing.poster.url}}" style="background-image:url('{#{thumb}#}')"><span>{{thing.poster}}</span></a>
</div></div>



{% if thing.parent_thing %}
<div class="section parent"><h3>On</h3>
  {% if thing.parent_thing.file %}
  <div class="pic">
  {#%thumbnail thing.parent_thing.file 150x150 crop as thumb%#}
  <a href="{{thing.parent_thing.url}}" style="background-image:url('{#{thumb}#}')"></a>
  </div>
  {%else%}
  <div class="tinytext">
  <a href="{{thing.parent_thing.url}}">{{thing.parent_thing.text}}</a>
  </div>
  {%endif%}
</div>
{%else%}
{% if thing.parent_user %}
<div class="section receiver"><h3>For</h3>
  <div class="user">
  {#%thumbnail thing.parent_user.safe_thumb 150x150 crop as thumb%#}
  <a href="{{thing.parent_user.niftyboard_url}}" style="background-image:url('{#{thumb}#}')"><span>{{thing.parent_user}}</span></a>
</div></div>
{%endif%}
{%endif%}

{% if you %}
<div class="section ratings">
  <h3>Rate It</h3>
<form method="post" action="{# url rate thing.pk #}" class="rater">
{% for index,rating in rating_values %}
<input type="submit" name="score" value="{{rating}}" {% ifequal your_rating.index index %}class="chosen"{%endifequal%}>
{%endfor%}
</form>
<div class="score">{{thing.cached_score}}</div>
</div>
{% endif %}

<div class="clear">


<h2>Responses to This</h2>
{#% with thing.child_pictures as pictures %#}
{#% with thing.child_texts as texts %#}
{% include 'picturesntext.html' %}
{#%endwith%#}
{#%endwith%#}

{% include 'addstuff.html'%}

{%endblock%}